/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Color Palette */
/* Responsive breakpoints */
html, body {
  font-family: "Coming Soon", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  color: #D5DADB;
  background: #0D0C0C;
  height: 100%;
  width: 100%;
  font-size: 1rem; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

/* Full width */
.container {
  margin: 0 auto;
  max-width: 79rem;
  overflow: hidden;
  padding: 1.5rem 0 0;
  position: relative; }
  .container h1, .container h2 {
    text-align: center; }
  .container h1 {
    font-family: 'Permanent Marker', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #00C2B8; }
  .container #menu {
    height: 30rem;
    width: 100%;
    background: black;
    border: 1.5rem solid #392209;
    margin-top: 1.5rem;
    padding: 1.5rem;
    min-width: 976px; }
    .container #menu ol {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style: decimal inside;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .container #menu ol li {
        margin-bottom: 2rem;
        width: 30%; }
        .container #menu ol li span {
          font-size: 1rem; }
        .container #menu ol li p {
          text-indent: 1.25rem;
          font-size: 0.9rem;
          color: #00F2FF; }
  .container #bar {
    position: fixed;
    left: 2.5%;
    bottom: 0;
    height: 23em;
    width: 95%;
    min-width: 1430px; }
    .container #bar #aboveBar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      padding: 0 8rem;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
      .container #bar #aboveBar img {
        height: 10rem; }
      .container #bar #aboveBar #beerBottles {
        height: 4.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 73%;
        flex: 0 0 73%; }
        .container #bar #aboveBar #beerBottles li {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 4rem;
          flex: 0 0 4rem;
          height: 100%;
          text-align: center; }
          .container #bar #aboveBar #beerBottles li img {
            height: 100%; }
    .container #bar #barTop {
      height: 1.5rem;
      background: #3B2209;
      border-radius: 15rem;
      margin: 0 auto; }
    .container #bar #barBody {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #1e1104), color-stop(30%, #301e0a), to(#392209));
      background-image: -webkit-linear-gradient(#1e1104 8%, #301e0a 30%, #392209 100%);
      background-image: -o-linear-gradient(#1e1104 8%, #301e0a 30%, #392209 100%);
      background-image: linear-gradient(#1e1104 8%, #301e0a 30%, #392209 100%);
      height: 13.5rem;
      width: 87%;
      margin: 0 auto; }
      .container #bar #barBody p {
        font-size: 2rem;
        width: 75%;
        margin: 0 auto;
        text-align: center;
        padding-top: 2rem; }

/* Large width */
@media only screen and (max-width: 84em) {
  .container {
    max-width: 61rem; } }
